@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pc-caption {
  color: #1D2630;
  display: block;
  font-size: 12px;
  font-weight: 500;
  padding: 16px 23px 8px;
  position: relative;
  text-transform: uppercase;
}

.pc-item {
  margin: 0 10px;
  &.active {
    a {
      &::after {
        background-color: #04A9F5;
      }
      .pc-micon {}
      .pc-mtext {
        color: #04A9F5;
      }
    }
  }
  a {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 20px;
    position: relative;
    &::after {
      border-radius: 8px;
      bottom: 2px;
      content: "";
      left: 2px;
      opacity: 0.1;
      pointer-events: none;
      position: absolute;
      right: 2px;
      user-select: none;
      top: 2px;
    }
    .pc-micon {
      display: inline-block;
      margin-right: 14px;
    }
    .pc-mtext {
      color: #39465F;
    }
    .pc-arrow {
      position: absolute;
      right: 14px;
      transition: .35s ease;
      svg {
        height: 14px;
        width: 14px;
      }
    }
    &:hover {
      &::after {
        background-color: #39465F;
      }
    }
  }
  &.pc-hasmenu {
    .pc-item {
      margin: 0;
    }
    &.pc-trigger {
      a {
        .pc-arrow {
          transform: rotate(90deg);
        }
      }
    }
  }
  .pc-submenu {
    position: relative;
    &::after {
      border-left: 1px solid #DBE0E5;
      content: "";
      height: 100%;
      left: 30px;
      position: absolute;
      top: 0;
      width: 1px;
    }
    .pc-item {
      a {
        padding: 12px 30px 12px 60px;
        &::after {
          background: #DBE0E5;
          border-radius: 50%;
          content: "";
          height: 5px;
          left: 45px;
          opacity: 1;
          position: absolute;
          top: 20px;
          width: 5px;
        }
      }
    }
  }
}

.pc-user-card {
  .btn {
    align-items: center;
    background-color: transparent;
    border-radius: 40px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
    &:hover {
      background-color: #ebedef;
    }
  }
}
