@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loadingScreen {
  align-items: center;
  background-color: rgba(0, 0, 0, .25);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}

.spinner_ngNb {
  animation: spinner_ZRWK 1.2s cubic-bezier(0.52, .6, .25, .99) infinite;
  fill: white;
}

.loaderIco {
  transform: scale(2.5);
}

.spinner_6TBP {
  animation-delay: .6s
}

@keyframes spinner_ZRWK {
  0% {
    transform: translate(12px, 12px) scale(0);
    opacity: 1
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0
  }
}

/* navigation */
.pc-caption {
  color: #1D2630;
  display: block;
  font-size: 12px;
  font-weight: 500;
  padding: 16px 23px 8px;
  position: relative;
  text-transform: uppercase;
}

.pc-item {
  margin: 0 10px;
  &.active {
    a {
      &::after {
        background-color: #04A9F5;
      }
      .pc-micon {}
      .pc-mtext {
        color: #04A9F5;
      }
    }
  }
  a {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 20px;
    position: relative;
    &::after {
      border-radius: 8px;
      bottom: 2px;
      content: "";
      left: 2px;
      opacity: 0.1;
      pointer-events: none;
      position: absolute;
      right: 2px;
      user-select: none;
      top: 2px;
    }
    .pc-micon {
      display: inline-block;
      margin-right: 14px;
    }
    .pc-mtext {
      color: #39465F;
      user-select: none;
    }
    .pc-arrow {
      position: absolute;
      right: 14px;
      transition: .35s ease;
      user-select: none;
      svg {
        height: 14px;
        width: 14px;
      }
    }
    &:hover {
      &::after {
        background-color: #39465F;
      }
    }
  }
  &.pc-hasmenu {
    .pc-item {
      margin: 0;
    }
    &.pc-trigger {
      a {
        .pc-arrow {
          transform: rotate(90deg);
        }
      }
    }
  }
  .pc-submenu {
    position: relative;
    &::after {
      border-left: 1px solid #DBE0E5;
      content: "";
      height: 100%;
      left: 30px;
      position: absolute;
      top: 0;
      width: 1px;
    }
    .pc-item {
      a {
        padding: 12px 30px 12px 60px;
        &::after {
          background: #DBE0E5;
          border-radius: 50%;
          content: "";
          height: 5px;
          left: 45px;
          opacity: 1;
          position: absolute;
          top: 20px;
          width: 5px;
        }
      }
    }
  }
}

.pc-user-card {
  .btn {
    align-items: center;
    background-color: transparent;
    border-radius: 40px;
    color: #39465F;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;
    &:hover {
      background-color: #ebedef;
    }
    svg {
      margin-left: 0;
    }
  }
  .dropdown-menu {
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 24px 0 rgba(62, 57, 107, 0.18);
    display: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: calc(280px - 30px);
    z-index: 0;
    &.active {
      display: block;
      inset: auto 0px 0px auto;
      transform: translate3d(0px, -60px, 0px);
      z-index: 1025;
    }
    ul {
      li {
        border-top: 1px solid #dbe0e5;
        &:first-child {
          border-top: none;
        }
        button {
          align-items: center;
          display: flex;
          gap: 7px;
          padding: 14px;
          width: 100%;
          span {

          }
        }
      }
    }
  }
}

/* card */
.card {
  background-color: white;
  background-clip: border-box;
  border: 1px solid #DBE0E5;
  border-radius: 12px;
  box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.08);
  color: #39465F;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
  .card__body {
    flex: 1 1 auto;
    padding: 28px;
  }
}

/* tables */
.table {
  border-color: #DBE0E5;
  width: 100%;
  vertical-align: top;
  thead {
    vertical-align: bottom;
    tr {
      text-align: left;
      th {
        background: rgba(244, 247, 250, .5);
        border-bottom: 1px solid #DBE0E5;
        border-top: 1px solid #DBE0E5;
        color: #29344A;
        font-size: 13px;
        padding: .7rem .75rem;
        text-transform: uppercase;
      }
    }
  }
  tbody {
    tr {
      td {
        border-bottom: none;
        border-top: 1px solid #DBE0E5;
        padding: .7rem .75rem;
        vertical-align: middle;
        white-space: nowrap;
      }
    }
  }
  &-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  & > :not(:last-child) {
    & > :last-child {
      & > * {
        border-bottom-color: #DBE0E5;
      }
    }
  }
}

/* btns */
.btn {
  align-items: center;
  border-radius: 8px;
  color: white;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  padding: .562rem 1rem;
  &.btn-primary {
    background-color: #2196F3;
    border: 2px solid #2196F3;
  }
  &.btn-secondary {
    background-color: #39465F;
    border: 2px solid #39465F;
  }
  &.btn-danger {
    background-color: #F44336;
    border: 2px solid #F44336;
  }
  &.btn-success {
    background-color: #8BC34A;
    border: 2px solid #8BC34A;
  }
  svg {
    margin-left: 14px;
  }
  &:disabled {
    background-color: transparent;
    border: 2px solid #BDBDBD;
    color: #BDBDBD;
    cursor: not-allowed;
  }
}

/* badges */
.badge {
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: .75em;
  font-weight: 500;
  line-height: 1;
  padding: .45em .75em;
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: nowrap;
  &.badge__success {
    background-color: #8BC34A;
  }
  &.badge__pending {
    background-color: #FFC107;
  }
  &.badge__danger {
    background-color: #F44336;
  }
  &.badge__banned {
    background-color: #9E9E9E;
  }
  &.badge__primary {
    background-color: #2196F3;
  }
  &.badge__dark {
    background-color: #263238;
  }
  &.badge__light {
    background-color: #E0E0E0;
    color: #39465F;
  }
  &.badge__secondary {
    background-color: #FFD54F;
  }
}
