.loadingScreen {
  align-items: center;
  background-color: rgba(0, 0, 0, .25);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}

.spinner_ngNb {
  animation: spinner_ZRWK 1.2s cubic-bezier(0.52, .6, .25, .99) infinite;
  fill: white;
}

.loaderIco {
  transform: scale(2.5);
}

.spinner_6TBP {
  animation-delay: .6s
}

@keyframes spinner_ZRWK {
  0% {
    transform: translate(12px, 12px) scale(0);
    opacity: 1
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0
  }
}

/* breadcrumbs */
.breadcrumbs {
  display: inline-flex;
  font-size: 13px;
  .breadcrumbs__item {
    padding-left: 8px;
    text-transform: capitalize;
    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='14' height='14' stroke='%235b6b79' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
      padding-right: 8px;
      position: relative;
      top: 2px;
    }
    &:first-child {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
    &.active {
      color: #2196F3;
      font-weight: 600;
    }
  }
}

/* navigation */
.pc-caption {
  color: #1D2630;
  display: block;
  font-size: 12px;
  font-weight: 500;
  padding: 16px 23px 8px;
  position: relative;
  text-transform: uppercase;
}

.pc-item {
  margin: 0 10px;

  &.active {
    a {
      &::after {
        background-color: #04A9F5;
      }

      .pc-micon {}

      .pc-mtext {
        color: #04A9F5;
      }
    }
  }

  a {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 20px;
    position: relative;

    &::after {
      border-radius: 8px;
      bottom: 2px;
      content: "";
      left: 2px;
      opacity: 0.1;
      pointer-events: none;
      position: absolute;
      right: 2px;
      user-select: none;
      top: 2px;
    }

    .pc-micon {
      display: inline-block;
      margin-right: 14px;
      pointer-events: none;
      user-select: none;
    }

    .pc-mtext {
      color: #39465F;
      pointer-events: none;
      user-select: none;
    }

    .pc-arrow {
      pointer-events: none;
      position: absolute;
      right: 14px;
      transition: .35s ease;
      user-select: none;

      svg {
        height: 14px;
        width: 14px;
      }
    }

    .pc-badge {
      pointer-events: none;
      user-select: none;
    }

    &:hover {
      &::after {
        background-color: #39465F;
      }
    }
  }

  &.pc-hasmenu {
    .pc-item {
      margin: 0;
    }

    &.pc-trigger {
      a {
        .pc-micon,
        .pc-mtext {
          color: #2196F4;
        }
        .pc-arrow {
          transform: rotate(90deg);
        }
      }
      ul {
        li {
          a {
            .pc-mtext {
              color: #39465F;
            }
          }
        }
      }
    }
  }

  .pc-submenu {
    position: relative;

    &::after {
      border-left: 1px solid #DBE0E5;
      content: "";
      height: 100%;
      left: 30px;
      position: absolute;
      top: 0;
      width: 1px;
    }

    .pc-item {
      a {
        padding: 12px 30px 12px 60px;

        &::after {
          background: #DBE0E5;
          border-radius: 50%;
          content: "";
          height: 5px;
          left: 45px;
          opacity: 1;
          position: absolute;
          top: 20px;
          width: 5px;
        }
      }
    }
  }
}

.pc-user-card {
  .btn {
    align-items: center;
    background-color: transparent;
    border-radius: 40px;
    color: #39465F;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;

    &:hover {
      background-color: #ebedef;
    }

    svg {
      margin-left: 0;
    }
  }

  .dropdown-menu {
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 24px 0 rgba(62, 57, 107, 0.18);
    display: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: calc(280px - 30px);
    z-index: 0;

    &.active {
      display: block;
      inset: auto 0px 0px auto;
      transform: translate3d(0px, -60px, 0px);
      z-index: 1025;
    }

    ul {
      li {
        border-top: 1px solid #dbe0e5;

        &:first-child {
          border-top: none;
        }

        button {
          align-items: center;
          display: flex;
          gap: 7px;
          padding: 14px;
          width: 100%;

          span {}
        }
      }
    }
  }
}

/* card */
.card {
  background-color: white;
  background-clip: border-box;
  border: 1px solid #DBE0E5;
  border-radius: 12px;
  box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.08);
  color: #39465F;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;

  .card__body {
    flex: 1 1 auto;
    padding: 49px 28px;
  }
}

/* tables */
.table {
  border-color: #DBE0E5;
  width: 100%;
  vertical-align: top;

  thead {
    vertical-align: bottom;

    tr {
      text-align: left;

      th {
        background: rgba(244, 247, 250, .5);
        border-bottom: 1px solid #DBE0E5;
        border-top: 1px solid #DBE0E5;
        color: #29344A;
        font-size: 13px;
        padding: .7rem .75rem;
        text-transform: uppercase;

        &:last-child {
          width: 12%;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        border-bottom: none;
        border-top: 1px solid #DBE0E5;
        padding: .7rem .75rem;
        vertical-align: middle;
        white-space: nowrap;
      }
    }
  }

  &-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  &> :not(:last-child) {
    &> :last-child {
      &>* {
        border-bottom-color: #DBE0E5;
      }
    }
  }
}

/* btns */
.btn {
  align-items: center;
  border-radius: 8px;
  color: white;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  padding: .562rem 1rem;

  &.btn-primary {
    background-color: #2196F3;
    border: 2px solid #2196F3;
  }

  &.btn-secondary {
    background-color: #39465F;
    border: 2px solid #39465F;
  }

  &.btn-danger {
    background-color: #F44336;
    border: 2px solid #F44336;
    &:disabled {
      background-color: #EF9A9A;
      border: 2px solid #EF9A9A;
      color: white;
    }
  }

  &.btn-success {
    background-color: #8BC34A;
    border: 2px solid #8BC34A;
  }

  &.btn-info {
    border: 1px solid rgb(219, 224, 229);
    color: #39465F;
    svg {
      margin-left: 0;
    }
  }

  svg {
    margin-left: 14px;
  }

  &:disabled {
    background-color: transparent;
    border: 2px solid #BDBDBD;
    color: #BDBDBD;
    cursor: not-allowed;
  }

  &.no-ml {
    svg {
      margin-left: 0;
    }
  }
}

/* badges */
.badge {
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: .75em;
  font-weight: 500;
  line-height: 1;
  padding: .45em .75em;
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: nowrap;

  &.badge__success {
    background-color: #8BC34A;
  }

  &.badge__pending {
    background-color: #FFC107;
  }

  &.badge__danger {
    background-color: #F44336;
  }

  &.badge__banned {
    background-color: #9E9E9E;
  }

  &.badge__primary {
    background-color: #2196F3;
  }

  &.badge__dark {
    background-color: #263238;
  }

  &.badge__light {
    background-color: #E0E0E0;
    color: #39465F;
  }

  &.badge__secondary {
    background-color: #FFD54F;
  }
}

/* timeline */
.timeline {
  .timeline__content {
    position: relative;

    &::before {
      background-color: rgb(229, 231, 235);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 2px;
    }

    .timeline__item {
      margin-top: 21px;
      padding-left: 28px;
      position: relative;

      &:first-child {
        margin-top: 0;
      }

      &::before {
        background-color: white;
        border: 4px solid #2196F3;
        border-radius: 14px;
        box-sizing: border-box;
        content: "";
        display: block;
        height: 14px;
        left: -6px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
      }

      .item__content {
        background-color: #eeeeee;
        border-radius: 14px;
        padding: 14px 21px;
      }

      span {
        font-size: 12px;
      }

      p {
        font-size: 14px;
      }

      .timeline__author {
        font-size: 12px;
        font-style: italic;
        margin-top: 7px;
        text-align: right;
        position: relative;

        &::before {
          background-color: white;
          content: "";
          display: block;
          height: 1px;
          left: 0;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
        }

        span {
          background-color: #eeeeee;
          display: inline-block;
          padding: 0 7px 0 14px;
          position: relative;
          z-index: 2;
        }
      }
    }
  }

  &.skeleton {
    .timeline__content {
      &::before {
        background-color: rgb(224, 224, 224);
      }

      .timeline__item {
        &::before {
          border: 4px solid #E0E0E0;
        }

        .item__content {
          background-color: #E0E0E0;
        }
      }
    }
  }
}

input {
  &[type="text"] {
    &:disabled {
      background-color: #ECEFF1 !important;
    }
  }
}

select {
  &:disabled {
    background-color: #ECEFF1 !important;
  }
}

.accountingBlug.up {
  background-color: rgba(139, 195, 74, .25);
  box-shadow: 10px 10px 80px 7px rgba(139, 195, 74, 1);
  border: 1px solid rgba(139, 195, 74, .4);
  border-radius: 6px;
  color: rgba(139, 195, 74, 1);
  padding: 4px
}

.accountingBlug.down {
  background-color: rgba(239, 83, 80, .25);
  box-shadow: 10px 10px 80px 7px rgba(239, 83, 80, 1);
  border: 1px solid rgba(239, 83, 80, .4);
  border-radius: 6px;
  color: rgba(239, 83, 80, 1);
  padding: 4px;
}

.accountingBlug svg,
.accountingBlug path {
  border-color: transparent;
}

.nouser-select {
  pointer-events: none;
  user-select: none;
}

.dropdown-menu {
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 24px 0 rgba(62, 57, 107, 0.18);
  display: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: calc(226px);
  z-index: 0;
  &.active {
    display: block;
    inset: auto 0px 0px auto;
    transform: translate3d(0px, 32px, 0px);
    z-index: 1025;
  }
  ul {
    li {
      border-top: 1px solid #dbe0e5;
      &:first-child {
        border-top: none;
      }
      button {
        align-items: center;
        display: flex;
        gap: 7px;
        padding: 14px;
        width: 100%;
      }
    }
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  inset: 0px;
  place-content: center space-around;
  position: fixed;
  z-index: 99999;
  .modal__content {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(131, 131, 131, 0.5) 0px 2px 10px 0px;
    height: 950px;
    max-height: 95%;
    max-width: 900px;
    overflow: auto;
    padding: 56px 28px 42px 28px;
    place-self: center;
    position: relative;
    width: 800px;
  }
  .modal__close {
    position: absolute;
    top: 14px;
    right: 14px;
  }
}

.documento {
  background-color: white;
  @media print {
  }
}
